.col-md-8 .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    height: auto;
    text-transform: uppercase;
}

.col-md-8 p {
    margin-bottom: 1.5rem;
    color: #4f4f4f
}

.col-md-8 .price {
    font-size: 1.3rem;
    color: #212529;
}

.amount input {
    width: 40px;
    height: 25px;
    border: 0;
    padding: 0 5px;
    text-align: center;
    font-weight: 700;
    background-color: transparent;
    color: #4f4f4f;
}

.amount input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.main-btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    z-index: 5;
    transition: all 0.4s linear;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.primary-icon,
.primary-btn {
    background-color: #212529;
    color: #fff;
}
@media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 auto;
        width: 46.66666667%;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 53.33333333%;
    }

    .col-md-8 .card-title {
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .col-md-8 p {
        margin-bottom: 2rem;
        color: #4f4f4f
    }

    .col-md-8 .price {
        font-size: 2rem;
        color: #212529;
    }

    .addCart {
        font-size: 1rem;
    }

    .amount input {
        width: 40px;
        height: 25px;
        border: 0;
        padding: 0 5px;
        text-align: center;
        font-weight: 700;
        background-color: transparent;
        color: #4f4f4f;
    }

    .amount input,
    optgroup,
    select,
    textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .main-btn {
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        border: 0;
        padding: 0 16px;
        font-size: 16px;
        font-weight: 500;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        z-index: 5;
        transition: all 0.4s linear;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
    }

    .primary-icon,
    .primary-btn {
        background-color: #212529;
        color: #fff;
    }
    .selector-product .col .card img {
        max-width: 100%;
    }
    .col-lg-8 {
        flex: 0 0 auto;
        width: 100%;
        padding-bottom: 2rem;
    }
    .card .mb-3{
        max-width: 1300px;
    }
}