{%extends "base.html"%} {% block title %} Sobre Nosotros {% endblock %} {% block content %}
<h1>Sobre nosotros</h1>
<br />
<p>
  Bienvenido a Opti MyJ, su fuente número uno de productos farmaceuticos.
  Estamos dedicados a brindarle lo mejor de nuestros productos, con un enfoque
  en la confiabilidad. Servicio al cliente y seguridad en sus compras.
  <br />
  Estamos trabajando para convertir nuestra pasión en una tienda en línea en
  auge. Esperamos que disfrutes de nuestros productos tanto como nosotros
  disfrutamos ofreciéndotelos.
</p>
{% endblock %}
